DATABASE_URL="postgresql://postgres:postgres@localhost:5432/saas_advocacia?schema=public"
AUTH_SECRET="gere-um-segredo-com-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@example.com"
